/* 리스트 */
.boardList{
    overflow: hidden;
    padding: 20px 0;
}
.boardList li{
    float: left;
    width: calc(33.3% - 20px);
    padding-right: 20px;
    margin-bottom: 50px;
}
.boardList li:nth-of-type(3n){
    padding-right: 0;
}
.boardList li a{
  display: block;
  position: relative;
  background: #fff;
}
.boardList .imgWrap{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: -20px;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
    background: url(../images/img_default.jpg);
}
.boardList .imgWrap span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* .boardList .imgWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.boardList .textWrap{
  padding: 20px 20px 20px 250px;
  height: 200px;
}
.boardList .hidden{
    display: none;
}

/* 작성 */
.boardCreateWrap{
  width: 90%;
  margin: 0 auto;
  padding: 70px 60px;
  background: #F5F5F5;
  box-shadow: 22px 24px 52px -19px rgba(0,0,0,0.3);
  text-align: center;
}
.boardCreateWrap li{
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}
.boardCreateWrap input{
    background: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    height: 45px;
    text-align: center;
}
.boardCreateWrap button{
    display: block;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    transition: all .3s;
    background: #2b4993;
    color: #fff;
    margin: 30px auto 20px;
    padding: 0 35px;
}

.boardCreateWrap .subBtn{
    font-weight: bold;
    color: #2b4993;
    font-size: 16px;
}
.uploadImageForm{
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -250px;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
    background: url(../images/img_default.jpg);
}
.uploadImageForm input{
    display: none;
}
.uploadImageForm label{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.uploadImageForm span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Example Styles for React Tags*/
#app {
  padding: 40px;
}

div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

/* 상세 */
.boardDetailWrap .imgWrap{
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
    background: url(../images/img_default.jpg);
}
.boardDetailWrap .imgWrap span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* 반응형 미디어쿼리 */
@media screen and (max-width: 1200px) {
    .boardList li{
        width: calc(50% - 10px);
        padding: 20px;
    }
    .boardList li:nth-of-type(3n){
        padding-right: 20px;
    }
    .boardList li:nth-of-type(2n){
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .boardList li{
        width: 100%;
        padding: 20px;
        padding-right: 0;
    }
}
