/* 리스트 */
.listFixWrap{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background: #efeeec;
    z-index: 999;
    box-sizing: border-box;
    transition: all .3s;
}
.listSearchWrap{
    margin: 20px 70px;
    text-align: right;
    position: relative;
}
.listSearchWrap input{
    width: 400px;
    background: none;
    border-bottom: 1px solid #ddd;
}
.listSearchWrap button{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    background: url(../images/btn_search.png) center no-repeat;
    background-size: 20px;
}

.boardList{
    overflow: hidden;
    padding: 80px 0;
    margin-top: 100px;
}
.boardList li{
    float: left;
    width: calc(33.3% - 33px);
    padding-right: 50px;
    margin-bottom: 100px;
}
.boardList li:nth-of-type(3n){
    padding-right: 0;
}
.boardList li a{
    display: block;
    position: relative;
    background: #fff;
}
.boardList .imgWrap{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: -20px;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
    background: url(../images/img_default.png);
    background-size: cover;
}
.boardList .imgWrap span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.boardList .textWrap{
    padding: 20px 20px 20px 250px;
    height: 140px;
}
.boardList h3{
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.boardList p{
    color: #888;
    margin-top: 5px;
}
.boardList .textWrap div{
    margin: 25px 0
}
.boardList label{
    font-size: 25px;
}
.boardList .tagWrap{
    border-top: 1px solid #e8e4e4;
    margin: 25px 20px 0 20px;
    padding: 20px 0;
}
.boardList .tagWrap span{
    margin-right: 10px;
    color: #888;
}
.boardList .hidden{
    display: none;
}

/* 상세, 작성 공통 */
.boardBackWrap {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    min-height: 100vh;
    background: #efeeec;
    z-index: 9999;
}
.boardBoxWrap{
    max-width: 1200px;
    margin: 230px auto 100px;
    background: #fff;
}
.layerTop{
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #efeeec;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layerTop .backBtn{
    font-weight: bold;
    color: #2b4993;
    font-size: 16px;
    background: url(../images/btn_back.png) left center no-repeat;
    background-size: 15px;
    padding-left: 30px;
}
.layerTop button{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    background: #2b4993;
    color: #fff;
    padding: 0 35px
}
.boardBoxWrap .detailInfoWrap{
    position: relative;
    padding-bottom: 50px;
}
.boardBoxWrap .imgWrap{
    width: 350px;
    height: 350px;
    overflow: hidden;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
    background: url(../images/img_default.png) center;
    background-position: center;
    position: absolute;
    top: -80px;
    left: 50px;
}
.boardBoxWrap .imgWrap span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.rightText{
    box-sizing: border-box;
    padding: 60px 50px 60px 450px;
}
.rightText h3{
    font-size: 40px;
}
.rightText p{
    color: #666;
    font-size: 18px;
    margin-bottom: 32px;
}
.rightText label {
    font-size: 40px;
}
.bottomText{
    padding:20px 50px;
}
.bottomText textarea{
    border-bottom: 1px solid #ddd;
    padding:30px 0;
    margin-bottom: 40px;
}
.boardBoxWrap .tagList{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e4e4;
}
.boardBoxWrap .tagList span{
    margin-right: 10px;
}

/* 작성 */
.boardBoxWrap .uploadWrap .imgWrap{
    background: url(../images/upload_default.png) center;
}
.boardBoxWrap .imgWrap input{
    display: none;
}
.boardBoxWrap .imgWrap label{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.rightText h3 input{
    font-size: 40px;
    padding:10px 0;
    border: 0;
}
.uploadWrap h3{
    margin-bottom: 25px;
}
.uploadWrap .btnWrap{
    text-align: center
}
.uploadWrap .submitBtn{
    position: relative;
}
.submitBtn:disabled{
    background: #ddd;
}
.starRatingWrap label{
    font-size: 30px;
}
.boardBoxWrap .tagWrap span{
    display: inline-block;
    background: #efeeec;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.boardBoxWrap .tagWrap span a{
    padding:5px;
    margin-left: 5px;
    cursor: pointer;
}
.boardBoxWrap .tagWrap input{
    padding: 5px 0;
    margin: 10px 0;
}
.boardBoxWrap p{
    color: #2b4993
}

/* 댓글 */
.commentCon{
    padding: 20px 10px 10px;
    background: url(../images/icon_quotation.png) left top no-repeat;
    background-size: 45px;
    font-size: 16px;
}
.commentDate{
    color: #999;
    text-align: right;
}
.commentWrap{
    padding: 20px 50px 50px;
}
.commentWrap h4{
    font-size: 20px;
}
.commentRegFrom{
    position: relative;
}
.commentRegFrom .starRatingWrap{
    position: absolute;
    right: 0;
    top: -40px;
}
.commentRegFrom textarea{
    border: 1px solid #e8e4e4;
    padding: 10px;
    margin-top: 20px;
    height:70px;
}
.commentRegFrom .submitBtnWap{
    text-align: center;
}
.submitBtn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    transition: all .3s;
    background: #2b4993;
    color: #fff;
    margin: 20px 0;
    padding: 0 35px;
}
.commentList{
    margin-top: 20px;
}
.commentList li{
    padding: 20px 0;
}
.commentList .commentCon{
    background-size: 35px;
}
.commentTop{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.commentTop strong{
    margin-right: 10px;
}


/* 반응형 미디어쿼리 */
@media screen and (max-width: 1700px) {
    .boardBackWrap{
        padding:0 20px;
        box-sizing: border-box;
    }
    .boardList li{
        width: calc(50% - 40px);
        padding: 20px;
        margin-bottom: 50px;
    }
    .boardList li:nth-of-type(3n){
        padding-right: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .listSearchWrap{
        margin: 20px 50px;
    }
    .boardList{
        padding: 40px 0;
    }
    .boardList .imgWrap{
        width: 150px;
        height: 150px;
    }
    .boardList .textWrap{
        padding: 20px 20px 20px 190px;
        height: 110px;
    }
    .boardList h3{
        font-size: 18px;
    }
    .boardList label{
        font-size: 20px;
    }
    .boardList .tagWrap{
        margin: 0 20px;
        padding: 15px 0;
    }
    .layerTop{
        width: 100%;
    }
    .boardBoxWrap .imgWrap{
        width: 300px;
        height: 300px;
        background-size: 200px;
    }
    .rightText{
        padding: 40px 40px 40px 400px
    }
    .rightText h3 input{
        font-size: 32px;
    }
}

@media screen and (max-width: 800px) {
    .boardList h3{
        font-size: 16px;
    }
    .boardBoxWrap{
        margin: 320px auto 100px
    }
}

@media screen and (max-width: 765px) {
    .boardList li{
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }
    .detailInfoWrap{
        padding-top:150px;
    }
    .boardBoxWrap .imgWrap{
        width: 300px;
        height: 300px;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
    }
    .rightText{
        padding: 50px;
        text-align: center;
    }
    .rightText h3 input{
        text-align: center;
    }
}

@media screen and (max-width: 414px) {
    .listFixWrap{
        position: relative;
    }
    .listSearchWrap{
        margin: 20px 0;
    }
    .listSearchWrap input{
        width: 100%;
        background: none;
        border-bottom: 1px solid #ddd;
    }
    .boardList{
        margin-top: 20px;
    }
    .boardBoxWrap{
        margin: 250px auto 100px;
    }
    .boardBoxWrap .imgWrap{
        width: 200px;
        height: 200px;
        top: -100px;
        background-size: 200px;
    }
    .detailInfoWrap{
        padding-top: 100px;
    }
    .rightText{
        padding: 30px;
    }
    .rightText h3{
        font-size: 26px;
    }
    .rightText h3 input{
        font-size: 26px;
        text-align: center;
    }
    .rightText label{
        font-size: 34px;
    }
    .boardBoxWrap .uploadWrap .imgWrap{
        background-size: 200px;
    }
    .commentRegFrom .starRatingWrap{
        top: -35px;
    }
    .commentRegFrom .starRatingWrap label{
        font-size:25px;
    }
    .bottomText{
        padding:20px 30px;
    }
    .commentWrap{
        padding: 20px 30px 30px;
    }

}
