/* 리스트 */
.boardList{
    overflow: hidden;
    padding: 20px 0;
}
.boardList li{
    float: left;
    width: calc(33.3% - 20px);
    padding-right: 20px;
    margin-bottom: 50px;
}
.boardList li:nth-of-type(3n){
    padding-right: 0;
}
.boardList li a{
  display: block;
  position: relative;
  background: #fff;
}
.boardList .imgWrap{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: -20px;
    box-shadow: 6px 14px 52px -18px rgba(0,0,0,0.7);
}
.boardList .imgWrap span{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img_default.jpg);
    background-size: cover;
    background-position: center;
}
/* .boardList .imgWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.boardList .textWrap{
  padding: 20px 20px 20px 250px;
  height: 200px;
}
.boardList .hidden{
    display: none;
}

/* 작성 */
.boardCreateWrap{

}
.boardCreateWrap h3{

}

/* 상세 */

.boardDetailWrap .imgWrap span{
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(../images/img_default.jpg);
    background-size: cover;
    background-position: center;
}

/* 반응형 미디어쿼리 */
@media screen and (max-width: 640px) {
    .boardList li{
        width: 100%;
        padding: 20px;
    }
    .boardList li:nth-of-type(3n){
        padding-right: 20px;
    }

}
