/* 회원가입, 로그인, 비밀번호 변경 페이지 */
.backWrap{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    background: url("../images/img_background.jpg") right top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 15vw;
    align-items: center;
    z-index: 9999;
}
.backWrap h1{
    text-align: center;
    margin-bottom: 30px;
}
.formBoxWrap{
    width: 450px;
}
.formBoxWrap h1 img{
    width: 150px;
}
.formWrap{
    padding: 70px 60px;
    min-height: 40vh;
    background: #F5F5F5;
    box-shadow: 22px 24px 52px -19px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
}
.formWrap li{
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.formWrap input{
    background: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    height: 45px;
    text-align: center;
}
.formWrap button{
    display: block;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    transition: all .3s;
    background: #2b4993;
    color: #fff;
    margin: 30px auto 20px;
    padding: 0 35px;
}
.formWrap .subBtn{
    font-weight: bold;
    color: #2b4993;
    font-size: 16px;
}
.formWrap p{
    margin: 20px 0;
}
.formWrap p a{
    color: #9E9E9E;
}


/* 반응형 미디어쿼리 */
@media screen and (max-width: 768px) {
    .backWrap{
        padding: 40px 20px;
        display: block;
        height: inherit;
        min-height: 100vh;
    }
    .formBoxWrap{
        width: 100%;
    }
    .formBoxWrap h1 img{
        width: 100px;
    }
    .formWrap{
        padding: 60px;
    }
}
